@font-face {
  font-family: Attena;
  src: url("./assets/fonts/Attena.otf");
}

@font-face {
  font-family: classyVogue;
  src: url("./assets/fonts/ClassyVogue.otf");
}

@font-face {
  font-family: roz;
  src: url("./assets/fonts/roz.otf");
}

body {
  font-family: roz;
}

.attena-font {
  font-family: Attena;
}

.classy-font {
  font-family: classyVogue;
}